body {
    background-color: #73AFBF;
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: 'Playfair Display', serif; 
    letter-spacing: 2px;
}

#container {
    
}

h1 {
    margin-bottom: 50px;
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
    text-align: center;
}

ul {
    list-style-type: none;
}

.correct {
    color: #255912;
}

.wrong {
    color: #AD1E0E;
}
