body {
    background-color: #73AFBF;
    margin: 0;
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

#container {
   margin: 10px 50px;
}

#footer { 
    padding: 10px 0px 10px 50px;
    height: 20px;
    background-color: #263A40;
    font-size: 0.7em;
}

h1 {
    background-color: #263A40;
    margin: 0 0 50px 0;
    padding: 50px;
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

ol {
    line-height: 2;
}

ul {
    list-style-type: none;
    line-height: 2;
}

.correct {
    color: #255912;
}

.correction {
    display: none;
}

.wrong {
    color: #AD1E0E;
}
