body {
    background-color: #73AFBF;
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: 'Sigmar One', cursive;    
}

h1 {
    font-size: 3em;
    font-family: 'Share', cursive;
    letter-spacing: 5px;
    text-align: center;
}

.correct {
    color: #255912;
}

.wrong {
    color: #AD1E0E;
}
